<a href="https://colab.research.google.com/github/LukauSamuel/Produto/blob/master/AC3%20IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

# Definindo as localidades das filiais
localidades = ['Nova York', 'Los Angeles', 'Chicago', 'Miami', 'Dallas']

# Gerando dados simulados para cada filial
dados_loja = []
np.random.seed(0)  # Define a semente para consistência
for i in range(2000):
    localidade = np.random.choice(localidades)
    data_loja = {
        'Empresa': 'Apple',
        'Localidade': localidade,
        'Data': pd.date_range(start='2022-01-01', end='2022-12-31', freq='D'),
        'Produto': 'iPhone',
        'Modelo': np.random.choice(['iPhone 13', 'iPhone 12', 'iPhone 11'], size=365),
        'Cor': np.random.choice(['Preto', 'Branco', 'Prateado', 'Dourado'], size=365),
        'Quantidade': np.random.randint(1, 20, size=365),
        'Preço_Unitário': np.random.uniform(700, 1500, size=365),
        'Desconto': np.random.uniform(0, 200, size=365),
        'Imposto': np.random.uniform(0, 100, size=365)
    }
    dados_loja.append(data_loja)

# Concatenando os dados de todas as filiais em um DataFrame único
df = pd.concat([pd.DataFrame(dados) for dados in dados_loja], ignore_index=True)

In [4]:
# Exibir as primeiras linhas do DataFrame
print(df.head())

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
0   Apple     Dallas 2022-01-01  iPhone  iPhone 12  Prateado           4
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12  Prateado           6
4   Apple     Dallas 2022-01-05  iPhone  iPhone 11   Dourado           5

   Preço_Unitário    Desconto    Imposto
0      805.522600   23.563948  78.901533
1      860.412810   71.262996  30.287818
2     1111.243577   53.256798  64.482696
3      777.994707  161.483705  97.041030
4     1381.482959   32.711759  78.555503

In [5]:
# Verificar os tipos de dados de cada coluna
print(df.dtypes)

Empresa                   object
Localidade                object
Data              datetime64[ns]
Produto                   object
Modelo                    object
Cor                       object
Quantidade                 int64
Preço_Unitário           float64
Desconto                 float64
Imposto                  float64
dtype: object

In [6]:
# Adicionando a coluna de receita ao DataFrame
df['Receita'] = df['Quantidade'] * df['Preço_Unitário'] - df['Desconto']

In [7]:
# Exibindo as primeiras linhas do DataFrame com a nova coluna
print(df.head())

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
0   Apple     Dallas 2022-01-01  iPhone  iPhone 12  Prateado           4
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12  Prateado           6
4   Apple     Dallas 2022-01-05  iPhone  iPhone 11   Dourado           5

   Preço_Unitário    Desconto    Imposto       Receita
0      805.522600   23.563948  78.901533   3198.526452
1      860.412810   71.262996  30.287818  12834.929159
2     1111.243577   53.256798  64.482696  21060.371174
3      777.994707  161.483705  97.041030   4506.484539
4     1381.482959   32.711759  78.555503   6874.703039

In [8]:
# Adicionando a coluna de custo total ao DataFrame
df['Custo_Total'] = df['Quantidade'] * df['Preço_Unitário'] + df['Imposto']

In [9]:
# Exibindo as primeiras linhas do DataFrame com a nova coluna
print(df.head())

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
0   Apple     Dallas 2022-01-01  iPhone  iPhone 12  Prateado           4
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12  Prateado           6
4   Apple     Dallas 2022-01-05  iPhone  iPhone 11   Dourado           5

   Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
0      805.522600   23.563948  78.901533   3198.526452   3300.991932
1      860.412810   71.262996  30.287818  12834.929159  12936.479973
2     1111.243577   53.256798  64.482696  21060.371174  21178.110668
3      777.994707  161.483705  97.041030   4506.484539   4765.009274
4     1381.482959   32.711759  78.555503   6874.703039   6985.970301

In [10]:
# Gerar um resumo estatístico do DataFrame
resumo_estatistico = df.describe()

In [11]:
# Exibir o resumo estatístico
print(resumo_estatistico)

                                Data     Quantidade  Preço_Unitário  \
count                         730000  730000.000000   730000.000000
mean   2022-07-02 00:00:00.000000256      10.009092     1100.236988
min              2022-01-01 00:00:00       1.000000      700.000131
25%              2022-04-02 00:00:00       5.000000      899.986151
50%              2022-07-02 00:00:00      10.000000     1100.466545
75%              2022-10-01 00:00:00      15.000000     1300.315380
max              2022-12-31 00:00:00      19.000000     1499.998828
std                              NaN       5.477773      230.993381

            Desconto        Imposto        Receita    Custo_Total
count  730000.000000  730000.000000  730000.000000  730000.000000
mean       99.896946      50.051641   10910.798819   11060.747405
min         0.000704       0.000178     502.630032     700.391148
25%        49.841643      25.056214    5449.321444    5601.240463
50%        99.842324      50.111142   10390.376041   10539.157153
75%       149.919536      75.046391   15588.989246   15739.476119
max       199.999880      99.999696   28490.541092   28590.871444
std        57.749413      28.860790    6575.227301    6574.974163

In [12]:
np.random.seed(42)
cols_with_missing = ['Modelo', 'Cor', 'Desconto', 'Imposto']
for col in cols_with_missing:
    mask = np.random.rand(len(df)) < 0.1
    df.loc[mask, col] = np.nan

In [13]:
#exibir as primeiras 10 linhas
print(df.head(10))

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
0   Apple     Dallas 2022-01-01  iPhone  iPhone 12  Prateado           4
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12       NaN           6
4   Apple     Dallas 2022-01-05  iPhone  iPhone 11   Dourado           5
5   Apple     Dallas 2022-01-06  iPhone  iPhone 13     Preto          18
6   Apple     Dallas 2022-01-07  iPhone        NaN  Prateado           6
7   Apple     Dallas 2022-01-08  iPhone  iPhone 13     Preto           4
8   Apple     Dallas 2022-01-09  iPhone  iPhone 13   Dourado           6
9   Apple     Dallas 2022-01-10  iPhone  iPhone 13  Prateado           9

   Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
0      805.522600         NaN  78.901533   3198.526452   3300.991932
1      860.412810   71.262996  30.287818  12834.929159  12936.479973
2     1111.243577   53.256798  64.482696  21060.371174  21178.110668
3      777.994707  161.483705  97.041030   4506.484539   4765.009274
4     1381.482959   32.711759        NaN   6874.703039   6985.970301
5     1016.435064  175.367914  74.897303  18120.463235  18370.728452
6      886.462260  154.742081  60.762411   5164.031476   5379.535968
7     1168.345660  176.763728  36.994070   4496.618912   4710.376709
8     1297.469097  193.833551        NaN   7590.981033   7843.278563
9     1187.190891  114.688788  15.728142  10570.029235  10700.446164

In [14]:
print(df.tail(10))

       Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
729990   Apple    Chicago 2022-12-22  iPhone  iPhone 13   Dourado          14
729991   Apple    Chicago 2022-12-23  iPhone  iPhone 13   Dourado          13
729992   Apple    Chicago 2022-12-24  iPhone  iPhone 12       NaN          15
729993   Apple    Chicago 2022-12-25  iPhone  iPhone 13   Dourado           7
729994   Apple    Chicago 2022-12-26  iPhone        NaN   Dourado          12
729995   Apple    Chicago 2022-12-27  iPhone  iPhone 11       NaN          16
729996   Apple    Chicago 2022-12-28  iPhone  iPhone 13  Prateado           7
729997   Apple    Chicago 2022-12-29  iPhone  iPhone 11  Prateado           4
729998   Apple    Chicago 2022-12-30  iPhone  iPhone 11     Preto          17
729999   Apple    Chicago 2022-12-31  iPhone        NaN   Dourado           8

        Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
729990     1374.027661  106.654290        NaN  19129.732963  19329.746271
729991     1081.087452  110.464946  55.768544  13943.671927  14109.905417
729992     1487.186226  131.328453  86.836426  22176.464943  22394.629822
729993      918.107571   36.569557  98.275413   6390.183441   6525.028411
729994     1355.251722  138.672781  93.106358  16124.347887  16356.127026
729995     1450.123837  165.052355  53.161849  23036.929033  23255.143237
729996     1091.537108  129.031649  41.598918   7511.728105   7682.358672
729997     1024.542680         NaN   1.088954   3903.679924   4099.259674
729998     1010.494580   60.405126  45.369082  17118.002739  17223.776947
729999     1101.840264   96.186997  38.598693   8718.535119   8853.320808

In [15]:
# Verificar os valores ausentes
valores_ausentes = df.isnull().sum()
print(valores_ausentes)

Empresa               0
Localidade            0
Data                  0
Produto               0
Modelo            72897
Cor               72951
Quantidade            0
Preço_Unitário        0
Desconto          72987
Imposto           73078
Receita               0
Custo_Total           0
dtype: int64

In [16]:
# Selecionar todas as vendas de iPhones 11
vendas_iphone_11 = df[df['Modelo'] == 'iPhone 11']

# Exibir as primeiras linhas das vendas de iPhones 11
print(vendas_iphone_11.head())

   Empresa Localidade       Data Produto     Modelo      Cor  Quantidade  \
4    Apple     Dallas 2022-01-05  iPhone  iPhone 11  Dourado           5
12   Apple     Dallas 2022-01-13  iPhone  iPhone 11   Branco           2
13   Apple     Dallas 2022-01-14  iPhone  iPhone 11    Preto          19
24   Apple     Dallas 2022-01-25  iPhone  iPhone 11    Preto          15
26   Apple     Dallas 2022-01-27  iPhone  iPhone 11    Preto           3

    Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
4      1381.482959   32.711759        NaN   6874.703039   6985.970301
12     1249.089640  179.102587  15.412985   2319.076693   2513.592265
13     1481.441442   41.736666  15.274234  28105.650741  28162.661641
24      775.115575   49.055588  97.758302  11577.678035  11724.491925
26     1160.169976         NaN  67.505787   3465.530895   3548.015715

In [17]:
# Selecionar as vendas de iPhones 12 na filial de Nova York
vendas_iphone_12_ny = df[(df['Modelo'] == 'iPhone 12') & (df['Localidade'] == 'Nova York')]

# Exibir as primeiras linhas das vendas de iPhones 12 na filial de Nova York
print(vendas_iphone_12_ny.head())

     Empresa Localidade       Data Produto     Modelo      Cor  Quantidade  \
1096   Apple  Nova York 2022-01-02  iPhone  iPhone 12      NaN           2
1098   Apple  Nova York 2022-01-04  iPhone  iPhone 12    Preto          15
1101   Apple  Nova York 2022-01-07  iPhone  iPhone 12  Dourado           4
1105   Apple  Nova York 2022-01-11  iPhone  iPhone 12    Preto           6
1106   Apple  Nova York 2022-01-12  iPhone  iPhone 12    Preto           2

      Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
1096     1461.440988  137.073003   3.312733   2785.808974   2926.194710
1098     1172.380410  145.233039  21.354308  17440.473110  17607.060457
1101      838.886925   86.271560  35.527964   3269.276140   3391.075665
1105     1325.447915   92.224680  28.467277   7860.462811   7981.154768
1106     1139.268662         NaN  57.527508   2258.116307   2336.064832

In [18]:
# Calcular a receita para cada venda
df['Receita'] = df['Quantidade'] * df['Preço_Unitário']

# Selecionar as vendas de iPhones na filial de Los Angeles com receita maior que $10.000
vendas_la_receita_maior_10000 = df[(df['Localidade'] == 'Los Angeles') & (df['Receita'] > 10000)]

# Exibir as primeiras linhas das vendas de iPhones na filial de Los Angeles com receita maior que $10.000
print(vendas_la_receita_maior_10000.head())

    Empresa   Localidade       Data Produto     Modelo       Cor  Quantidade  \
365   Apple  Los Angeles 2022-01-01  iPhone  iPhone 12    Branco          14
366   Apple  Los Angeles 2022-01-02  iPhone  iPhone 12   Dourado          12
367   Apple  Los Angeles 2022-01-03  iPhone  iPhone 12  Prateado          12
369   Apple  Los Angeles 2022-01-05  iPhone        NaN     Preto          17
370   Apple  Los Angeles 2022-01-06  iPhone  iPhone 11     Preto          17

     Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
365      982.571014         NaN   0.173783  13755.994191  13756.167974
366     1486.453495  171.477611   9.990807  17837.441941  17847.432749
367     1407.060357  123.464966  36.366044  16884.724286  16921.090330
369      985.002542  153.754445  38.298970  16745.043215  16783.342185
370     1305.703822  193.360119  38.956685  22196.964978  22235.921663

In [19]:
# Selecionar as vendas de iPhones com desconto aplicado maior que $50
vendas_desconto_maior_50 = df[df['Desconto'] > 50]

# Exibir as primeiras linhas das vendas de iPhones com desconto aplicado maior que $50
print(vendas_desconto_maior_50.head())

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12       NaN           6
5   Apple     Dallas 2022-01-06  iPhone  iPhone 13     Preto          18
6   Apple     Dallas 2022-01-07  iPhone        NaN  Prateado           6

   Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
1      860.412810   71.262996  30.287818  12906.192155  12936.479973
2     1111.243577   53.256798  64.482696  21113.627972  21178.110668
3      777.994707  161.483705  97.041030   4667.968244   4765.009274
5     1016.435064  175.367914  74.897303  18295.831149  18370.728452
6      886.462260  154.742081  60.762411   5318.773557   5379.535968

In [20]:
# Definir o intervalo de datas correspondente a janeiro de 2022
data_janeiro_2022 = pd.date_range(start='2022-01-01', end='2022-01-31')

# Selecionar as vendas de iPhones que ocorreram em janeiro de 2022
vendas_janeiro_2022 = df[df['Data'].isin(data_janeiro_2022)]

# Exibir as primeiras linhas das vendas de iPhones que ocorreram em janeiro de 2022
print(vendas_janeiro_2022.head())

  Empresa Localidade       Data Produto     Modelo       Cor  Quantidade  \
0   Apple     Dallas 2022-01-01  iPhone  iPhone 12  Prateado           4
1   Apple     Dallas 2022-01-02  iPhone  iPhone 13    Branco          15
2   Apple     Dallas 2022-01-03  iPhone  iPhone 12     Preto          19
3   Apple     Dallas 2022-01-04  iPhone  iPhone 12       NaN           6
4   Apple     Dallas 2022-01-05  iPhone  iPhone 11   Dourado           5

   Preço_Unitário    Desconto    Imposto       Receita   Custo_Total
0      805.522600         NaN  78.901533   3222.090399   3300.991932
1      860.412810   71.262996  30.287818  12906.192155  12936.479973
2     1111.243577   53.256798  64.482696  21113.627972  21178.110668
3      777.994707  161.483705  97.041030   4667.968244   4765.009274
4     1381.482959   32.711759        NaN   6907.414797   6985.970301

In [21]:
# Calcular o total de vendas de cada produto
total_vendas_por_produto = df.groupby('Produto')['Quantidade'].sum()

# Exibir o total de vendas de cada produto
print(total_vendas_por_produto)

Produto
iPhone    7306637
Name: Quantidade, dtype: int64

In [22]:
# Calcular o total de vendas de cada modelo de iPhone
total_vendas_por_modelo = df.groupby('Modelo')['Quantidade'].sum()

# Encontrar o modelo de iPhone mais vendido
modelo_mais_vendido = total_vendas_por_modelo.idxmax()

# Exibir o modelo de iPhone mais vendido
print("O modelo de iPhone mais vendido é:", modelo_mais_vendido)

O modelo de iPhone mais vendido é: iPhone 13

In [23]:
# Calcular o total de vendas de cada cor de iPhone
total_vendas_por_cor = df.groupby('Cor')['Quantidade'].sum()

# Encontrar a cor de iPhone mais vendida
cor_mais_popular = total_vendas_por_cor.idxmax()

# Exibir a cor de iPhone mais vendida
print("A cor de iPhone mais popular vendida é:", cor_mais_popular)

A cor de iPhone mais popular vendida é: Prateado

In [26]:
# Calcular a receita para cada venda
df['Receita'] = df['Quantidade'] * df['Preço_Unitário']

# Calcular o total de receita gerada por cada filial
total_receita_por_filial = df.groupby('Localidade')['Receita'].sum()

# Exibir o total de receita gerada por cada filial
print(total_receita_por_filial)

Localidade
Chicago        1.538910e+09
Dallas         1.689313e+09
Los Angeles    1.590442e+09
Miami          1.588418e+09
Nova York      1.630725e+09
Name: Receita, dtype: float64

In [27]:
# Calcular a média de desconto aplicado em cada produto
media_desconto_por_produto = df.groupby('Produto')['Desconto'].mean()

# Exibir a média de desconto aplicado em cada produto
print(media_desconto_por_produto)

Produto
iPhone    99.870485
Name: Desconto, dtype: float64

In [28]:
# Calcular o total de vendas por filial
total_vendas_por_filial = df.groupby('Localidade')['Quantidade'].sum()

# Encontrar a filial com a menor quantidade de vendas
filial_menor_quantidade_vendas = total_vendas_por_filial.idxmin()

# Exibir a filial com a menor quantidade de vendas
print("A filial com a menor quantidade de vendas é:", filial_menor_quantidade_vendas)

A filial com a menor quantidade de vendas é: Chicago